<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>
Bonjour <span th:text="${firstname}"></span>,

<p>
  Suite à la sélection des billets pour la billetterie du BreizhCamp <span th:text="${year}"></span>, vous n'avez hélas pas été sélectionné.
</p>

<p>
  Comme vous le savez, la place est limité par l'Université qui nous accueille et nous sommes obligés de limiter le nombre de participants.
</p>

<p>
  Nous espérons cependant vous voir pour une prochaine édition !
</p>

<p>
  Cordialement,<br>
  L'équipe du BreizhCamp
</p>

</body>