<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>
Bonjour <span th:text="${firstname}"></span>,

<p>
  Bonne nouvelle,
  <span th:if="${!groupPayment} or ${nbPersons} == 1">
    vous avez été retenu·e
  </span>
  <span th:if="${groupPayment} and ${nbPersons} > 1">
    votre groupe de <span th:text="${nbPersons}"></span> personnes a été retenu
  </span>
  pour la billetterie du BreizhCamp <span th:text="${year}"></span>, avec un <span th:text="${passDate}"></span> !
</p>

<p>
  <b>Vous avez <span th:text="${delay}"></span>, soit jusqu'à <span th:text="${limit_date}"></span></b>, pour confirmer ou libérer
  <span th:if="${!groupPayment} or ${nbPersons} == 1">
    votre place
  </span>
  <span th:if="${groupPayment} and ${nbPersons} > 1">
    toutes les places du groupe
  </span>
  en suivant ce lien : <a th:href="${link}"><span th:text="${link}"></span></a>
</p>

<p>
  Passé ce délai,
  <span th:if="${!groupPayment} or ${nbPersons} == 1">
    la place sera remise
  </span>
  <span th:if="${groupPayment} and ${nbPersons} > 1">
    les places seront remises
  </span>
  en jeu pour les personnes en liste d'attente.
</p>

<p>
  Cordialement,<br>
  L'équipe du BreizhCamp
</p>

</body>